* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    font-family: "Open Sans", serif;
    color: hsl(0, 0%, 6%);
}

body {
    margin: 8px 8px;
}

.animated-cards-grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;
}

.animated-cards {
    margin: 0 0 1rem 0px;
    --padding: 1rem;
    /* padding: 11px 16px; */
    overflow: hidden;
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgb(8, 10, 10);
    border-radius: 4px;
}

.animated-cards.animated-cards-shadow {
    border: none;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0, .2);
}

.animated-cards-header {
    margin: 0 0 8px 0;
    padding: var(--padding);
    padding-bottom: 0;
}

.animated-cards-header.animated-cards-images {
    padding: 0;
    overflow: hidden;
}

.animated-cards-header.animated-cards-images > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.animated-cards:hover > .animated-cards-header.animated-cards-images > img {
    transform: scale(1.025);
}

.animated-cards-body {
    padding: 0 var(--padding);
}

.animated-cards-footer {
    margin: 16px 0 0 0;
    padding: var(--padding);
    padding-top: 0;
}

.btn {
    --color: rgb(158, 197, 171, 1);
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background: var(--color);
    border: none;
    border-radius: 4px;
}

.btn:hover, .btn:focus {
    background: rgb(193, 236, 208, 1);
}

.btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(140, 17%, 91%);
}